*.iml
target/
.idea/
instana-agent.yaml

# Eclipse https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore

*.pydevproject
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# macOS files
.DS_Store

# Temporary Build Files
build/_output
build/_test
testbin/

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, build with 'go test -c'
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
