apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: instana-agent-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: instana-agent-operator
  namespace: system
  labels:
    app.kubernetes.io/name: instana-agent-operator
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: instana-agent-operator
  replicas: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: instana-agent-operator
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
                      - ppc64le
                      - s390x
                      - arm64
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: instana/instana-agent-operator:latest
        imagePullPolicy: Always
        name: manager
        securityContext:
          allowPrivilegeEscalation: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 200Mi
          requests:
            cpu: 200m
            memory: 200Mi
      serviceAccountName: instana-agent-operator
      terminationGracePeriodSeconds: 10
