version: 2.1

jobs:
  build:
    description: "Run Go unit and integration tests using make targets"
    parameters:
      go_version:
        description: "Go version to use (1.x)"
        type: string
      go111module:
        description: "GO111MODULE= env var value"
        default: "auto"
        type: enum
        enum: ["on", "off", "auto"]
    docker:
      - image: circleci/golang:<< parameters.go_version >>
    working_directory: /go/src/github.com/instana/instana-agent-operator
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Run the build
          command: make build
          environment:
            GO111MODULE: << parameters.go111module >>
      - run:
          name: Run unit tests
          command: make test
          environment:
            GO111MODULE: << parameters.go111module >>
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

workflows:
  version: 2
  build:
    jobs:
      - build:
          name: "latest"
          go_version: "latest"
      - build:
          name: "go1.16"
          go_version: "1.16"
      - build:
          name: "go1.15"
          go_version: "1.15"
