apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
  namespace: instana-agent
rules:
- apiGroups:
  - instana.io
  resources:
  - agents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - instana.io
  resources:
  - agents/finalizers
  verbs:
  - update
- apiGroups:
  - instana.io
  resources:
  - agents/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ''
  - 'extensions'
  - 'apps'
  - 'rbac.authorization.k8s.io'
  resources:
  - 'serviceaccounts'
  - 'clusterroles'
  - 'clusterrolebindings'
  - 'secrets'
  - 'configmaps'
  - 'daemonsets'
  - 'namespaces'
  - 'services'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
# -------------------------------------------------------------------------
# The following need to be watched, but not created:
# * Pods are created by the daemon set.
# * The custom resource definition is created by the user.
# -------------------------------------------------------------------------
- apiGroups:
  - ''
  - 'apiextensions.k8s.io'
  resources:
  - 'pods'
  - 'customresourcedefinitions'
  verbs:
  - 'get'
  - 'list'
  - 'watch'
# -------------------------------------------------------------------------
# Events are just created but not watched. It's a fire-and-forget operation.
# -------------------------------------------------------------------------
- apiGroups:
  - ''
  resources:
  - 'events'
  verbs:
  - 'create'
# -------------------------------------------------------------------------
# Below are the permissions are for the agent.
# The operator needs these permissions to create the agent's cluster role.
# -------------------------------------------------------------------------
- apiGroups:
  - ''
  resources:
  - 'componentstatuses'
  - 'endpoints'
  - 'events'
  - 'namespaces'
  - 'nodes'
  - 'pods'
  - 'replicationcontrollers'
  - 'resourcequotas'
  - 'services'
  - 'persistentvolumes'
  - 'persistentvolumeclaims'
  verbs:
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - ''
  resources:
  - 'endpoints'
  verbs:
  - 'create'
  - 'update'
  - 'patch'
- apiGroups:
  - 'apps'
  resources:
  - 'deployments'
  - 'replicasets'
  - 'daemonsets'
  - 'statefulsets'
  verbs:
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - 'batch'
  resources:
  - 'jobs'
  - 'cronjobs'
  verbs:
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - 'extensions'
  resources:
  - 'deployments'
  - 'ingresses'
  - 'replicasets'
  verbs:
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - 'networking.k8s.io'
  resources:
    - 'ingresses'
  verbs:
    - 'get'
    - 'list'
    - 'watch'
- apiGroups:
  - "apps.openshift.io"
  resources:
  - "deploymentconfigs"
  verbs:
  - "get"
  - "list"
  - "watch"
