apiVersion: instana.io/v1
kind: InstanaAgent
metadata:
  name: instana-agent
  namespace: instana-agent
spec:
  zone:
    name: edited-zone # (optional) name of the zone of the host
  cluster:
    name: my-cluster
  # useSecretMounts: true  # Default is true. Set to false to use environment variables for secrets instead of file mounts
  agent:
    key: replace-key # replace with your Instana agent key
    endpointHost: ingress-red-saas.instana.io
    endpointPort: "443"
    env: {}
    configuration_yaml: |
      # You can leave this empty, or use this to configure your instana agent.
      # See https://github.com/instana/instana-agent-operator/blob/main/config/samples/instana_v1_extended_instanaagent.yaml for the extended version.
  opentelemetry:
    grpc:
      enabled: true
    http:
      enabled: true
