apiVersion: instana.io/v1
kind: InstanaAgent
metadata:
  name: instana-agent
  namespace: instana-agent
spec:
  zone:
    name: edited-zone # (optional) name of the zone of the host
  cluster:
    name: my-cluster
  agent:
    useSecretMounts: false
    endpointHost: first-backend.instana.io
    endpointPort: "443"
    env: {}
    keysSecret: instana-agent-key
    additionalBackends:
    - endpointHost: second-backend.instana.io
      endpointPort: "443"
    configuration_yaml: |
      # You can leave this empty, or use this to configure your instana agent.
      # See https://github.com/instana/instana-agent-operator/blob/main/config/samples/instana_v1_extended_instanaagent.yaml for the extended version.
  k8s_sensor:
    deployment:
      replicas: 1